---

// Importing default HTML
import Layout from "../layouts/Layout.astro";
import Tracks from "../components/Tracks.astro";


// Importing local SCSS
import '../sass/p_homepage/index.scss';


// == Images ==
// Images must be placed in the public folder. You can link to them.
// e.g. src="/assets/images/photos/random-photo.png".


---

<Layout>
	<!-- HTML content -->

	<section class="w-screen flex justify-center relative" id="hero-section">
		<div id="hero-overlay"></div>
		<div id="dark-hero-overlay"></div>
		<article class=" z-10 absolute flex justify-center top-80">
			<div class="w-2/5 flex relative aspect-square" id="hero-image">
				<p class="text-white absolute font-size-20" id="hero-image-label">
					<span class="font-semibold text-primary">
						Instinct 
					</span>
					— Released May 22, 2020
				</p>
			</div>
			<div class="w-1/2 flex flex-col items-start justify-center px-16">
				<h1 class="font-size-32 text-transparent uppercase font-normal" id="hero-header-text">
					Level Days
				</h1>
				<h2 class="uppercase text-white font-size-28 font-normal mt-4 mb-16">
					conro
				</h2>
				<div class="flex justify-between w-11/12">
					<button class="font-size-18">
						<i class="fa-solid fa-play"></i>
						Listen Now
					</button>
					<button class="font-size-18 button-secondary">
						<i class="fa-solid fa-share-nodes"></i>
						Share
					</button>
				</div>
			</div>
		</article>
	</section>
	
	<article class="mt-2 px-12">
		<section class="bg-black">
			<h4>
				Stream it your way
			</h4>
			<div class="flex my-12">
				<div class="grid place-items-center aspect-square icon-box border-white border-solid w-28">
					<i class="fa-brands fa-bandcamp text-white font-size-20 cursor-pointer"></i>
				</div>
				<div class="grid place-items-center aspect-square icon-box border-white border-solid w-28">
					<i class="fa-brands fa-soundcloud text-white font-size-20 cursor-pointer"></i>
				</div>
				<div class="grid place-items-center aspect-square icon-box border-white border-solid w-28">
					<i class="fa-brands fa-apple text-white font-size-20 cursor-pointer"></i>
				</div>
				<div class="grid place-items-center aspect-square icon-box border-white border-solid w-28">
					<i class="fa-brands fa-youtube text-white font-size-20 cursor-pointer"></i>
				</div>
				<div class="grid place-items-center aspect-square icon-box border-white border-solid w-28">
					<i class="fa-brands fa-spotify text-white font-size-20 cursor-pointer"></i>
				</div>
			</div>
		</section>

		<section>
			<h4 class="mb-16">
				track list
			</h4>
			<!-- Tracks -->
			
			<Tracks 
			songNumber={'1'}
			songName={'The Small Things'} 
			songArtist={'Conroe'} 
			songLength={'3:35'}
			 />
			
			<Tracks 
			songNumber={'2'}
			songName={'Without Your Love'} 
			songArtist={'Conroe'} 
			songLength={'3:09'}
			 />
			
			<Tracks 
			songNumber={'3'}
			songName={'Therapy'} 
			songArtist={'Conroe'} 
			songLength={'3:06'}
			 />
			
			<Tracks 
			songNumber={'4'}
			songName={'Fighters'} 
			songArtist={'Conroe'} 
			songLength={'3:46'}
			 />
			
			<Tracks 
			songNumber={'5'}
			songName={'Way Up'} 
			songArtist={'Conroe'} 
			songLength={'3:32'}
			 />
			
			<Tracks 
			songNumber={'6'}
			songName={'Waiting'} 
			songArtist={'Conroe'} 
			songLength={'3:07'}
			 />
			
			<Tracks 
			songNumber={'7'}
			songName={'Dreaming'} 
			songArtist={'Conroe'} 
			songLength={'2:57'}
			 />
			
			<Tracks 
			songNumber={'8'}
			songName={'Tattoo'} 
			songArtist={'Conroe'} 
			songLength={'3:29'}
			 />
			
			<Tracks 
			songNumber={'9'}
			songName={'Out for the Night'} 
			songArtist={'Conroe'} 
			songLength={'3:05'}
			 />
			
			<Tracks 
			songNumber={'10'}
			songName={'Overdue'} 
			songArtist={'Conroe'} 
			songLength={'2:48'}
			 />
			
			<Tracks 
			songNumber={'11'}
			songName={'Say It'} 
			songArtist={'Conroe'} 
			songLength={'3:04'}
			 />
			
			<Tracks 
			songNumber={'12'}
			songName={'Here to Stay'} 
			songArtist={'Conroe'} 
			songLength={'2:44'}
			 />

		</section>

		<section class="w-full my-16">
			<h4 class="mb-12 text-left">
				Music Video
			</h4>
			<iframe id="ytplayer" width="950" height="534"
			src="https://www.youtube.com/embed/7nObtWENgxA"
			frameborder="0" class="mx-auto"></iframe>
		</section>
	</article>



</Layout>