---

// Importing default HTML
import Layout from "../layouts/Layout.astro";

// Importing local SCSS
import '../sass/p_homepage/index.scss';

// == Images ==
// Images must be placed in the public folder. You can link to them.
// e.g. src="/assets/images/photos/random-photo.png".

---

<Layout>
	<!-- HTML content -->

	<section class="w-screen flex justify-center relative" id="hero-section">
		<div id="hero-overlay"></div>
		<div id="dark-hero-overlay"></div>
		<article class="w-4/5 z-10 absolute flex justify-center bottom-16">
			<div class="w-2/5 flex relative aspect-square" id="hero-image">
				<p class="text-white absolute font-size-20" id="hero-image-label">
					<span class="font-semibold text-primary">
						Instinct 
					</span>
					— Released May 22, 2020
				</p>
			</div>
			<div class="w-1/2 flex flex-col items-start justify-center px-16">
				<h1 class="font-size-32 text-transparent uppercase font-normal" id="hero-header-text">
					Level Days
				</h1>
				<h2 class="uppercase text-white font-size-28 font-normal mt-4 mb-16">
					conro
				</h2>
				<div class="flex justify-between w-11/12">
					<button class="font-size-18">
						<i class="fa-solid fa-play"></i>
						Listen Now
					</button>
					<button class="font-size-18 button-secondary">
						<i class="fa-solid fa-share-nodes"></i>
						Share
					</button>
				</div>
			</div>
		</article>
	</section>
	

</Layout>