
@use '../abstracts' as *;
@use '../themes' as *;
@use '../utilities' as *;

// Global Button Styling

button {
  cursor: pointer;

  // Placeholder Values:
  background-color: $color-primary;
  padding: 1em 2em;
  color: white;
  font-weight: 400;
  font-family: $button-font;
  border:1px solid transparent;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
  }
}

.button-secondary {
  background-color: transparent;
  border: 1px solid white;
  color: white;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
  }
}