@forward './sidebar';
@forward './footer';
@forward './header';


// Custom Scrollbar

/* width */
::-webkit-scrollbar {
  width: .6em;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcfcfc;
}


// Global SCSS

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  // Makes anchor links silky smooth 😎
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

article {
  // Creating a wrapper to not exceed a width of over 1200px:
  width: 1200px;
  max-width: 100vw;
}


