
<header class="w-screen top-0 left-0 right-0 flex fixed p-12 items-start">

  <div class="w-full flex justify-between items-center">
    <img src="/assets/images/branding/monstercat-logo.png" alt="monstercat logo" class="h-20 w-20 cursor-pointer">
    <img src="/assets/images/icons/menu.svg" alt="menu icon" class="w-12 cursor-pointer mr-4">
  </div>

  <div class="absolute flex flex-col justify-between right-16 top-48 items-center p-2 h-96">
    <i class="fa-brands fa-instagram text-white font-size-20 cursor-pointer"></i>
    <i class="fa-brands fa-tiktok text-white font-size-20 cursor-pointer"></i>
    <i class="fa-brands fa-twitter text-white font-size-20 cursor-pointer"></i>
    <i class="fa-brands fa-twitch text-white font-size-20 cursor-pointer"></i>
    <i class="fa-brands fa-facebook text-white font-size-20 cursor-pointer"></i>
    <i class="fa-brands fa-discord text-white font-size-20 cursor-pointer"></i>
  </div>

</header>